{% extends 'admin/base.html.twig' %}

{% block title %}Ajout Information Page Livraison{% endblock %}

{% block body %}
    {{form_start(form)}}

        {{ include('admin/livraison/form.html.twig') }}
        <button class="btn btn-primary">
            Ajouter
        </button>
    {{ form_end(form) }}

{% endblock %}
