
    <h1>Video</h1>
    {# Banner #}
    <div class="form-group">
        <div class="row">
            <div class="col">
                {{ form_row(form1.url) }}
            </div>
            <div class="col">
                {{ form_row(form1.name) }}
            </div>
        </div>
    </div>
