
    <h1>Images</h1>
    {# Banner #}
    <div class="form-group">
        <div class="row">
            <div class="col">
                {{ form_row(form.url) }}
            </div>
            <div class="col">
                {{ form_row(form.name) }}
            </div>
        </div>
    </div>
