{% extends 'admin/base.html.twig' %}

{% block title %}Admin Page{% endblock %}

{% block body %}

    <div class="container">
        <h1>page d'acceuil</h1>

        <p>
            ici sera la page qui contiendra tout statistique de la page 
        </p>
    </div>

{% endblock %}