<!-- footer part start -->
<footer class="bg-gray-light pt-lg-5">
  <section class="section border-bottom border-color">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-md-5 mb-4 mb-md-0">
          <img src="{{asset("assets/images/logo/logo.png")}}" class="mb-4"  width="200" alt="agico">
          <p class="text-dark mb-4">Lorem ipsum dolor amet consectetur adipisicing elit sed eiusm tempor incididunt ut
            labore dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamaboris nisi ut aliquip.exea
            commodo consequat. Duis aute irure dolor in reprehenderit.</p>
          <ul class="list-inline social-icons">
            <li class="list-inline-item"><a href="http://facebook.com" target="_blank"><i class="fa fa_acceuil fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="http://twitter.com" target="_blank"><i class="fa fa_acceuil fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.youtube.com" target="_blank"><i class="fa fa_acceuil fa-youtube"></i></a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <h4 class="text-dark mb-4">Services</h4>
          <ul class="list-styled list-hover-underline">
            <li class="mb-3 text-light"><a href="{{path('vtc_home')}}" class="text-dark">VTC</a></li>
            <li class="mb-3 text-light"><a href="{{path('livraison_home')}}" class="text-dark">Livraison</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <h4 class="text-dark mb-4">Contact Info</h4>
          <p class="text-dark">Cocody Soghefia</p>
          <ul class="list-unstyled">
            <li class="mb-3"><a class="text-dark" href="+2250506062629">+225 05 06 062 629</a></li>
            <li class="mb-3"><a class="text-dark" href="+2250707488888">+225 07 07 488 888</a></li>
            <li class="mb-3"><a class="text-dark" href="mailto:servicecommercial@fano.ci">servicecommercial@fano.ci</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- footer part end -->

  <!-- copyright part start -->
  <section class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">
          <p class="mb-0 text-dark">Copyright &copy;
            <script>
              var CurrentYear = new Date().getFullYear()
              document.write(CurrentYear)
            </script>
            <a href="https:/.com/">O'jasser</a></p>
        </div>
        <div class="col-md-6 text-md-right text-center">
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#" class="text-dark">Terms of Service</a></li>
            <li class="list-inline-item">| &nbsp;<a href="#" class="text-dark">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- copyright part end -->
</footer>