<div class="container">
            <h1>Modifier les informations de la page de Contact</h1>
            
            <div class="mb-3">
                {{ form_row(form.adress) }}
            </div>
            <div class="mb-3">
                {{ form_row(form.email) }}
            </div>
            <div class="mb-3">
                {{ form_row(form.number1) }}
            </div>
            <div class="mb-3">
                {{ form_row(form.number2) }}
            </div>
            
        </div>